<?php

return [
    'mbtec' => [
        'zf-google_maps' => [
            'api' => [
                'browser_key' => '...',
                'server_key' => '...',
            ],
        ],
    ],
];
